.error-hint {
  color: #f44336;
}

.info {
  font-size: 11px;
  padding-left: 10px;
  color: grey;
}

.pt10 {
  padding-top: 10px;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

mat-form-field {
  width: 100% !important;
}

.layout {
  width: 48% !important;
  display: inline-grid;
}

.left {
  padding-left: 10px;
}

mat-spinner[msName],
mat-spinner[msMail] {
  display: none;
}

.ng-pending mat-spinner[msName] {
  display: block !important;
}

.ng-pending mat-spinner[msMail] {
  display: block !important;
}
