<h1>Pipes Examples</h1>
<h2>Async Pipe</h2>
<async-promise-pipe></async-promise-pipe>
<hr />
<h2>Date Pipe</h2>
<date-pipe></date-pipe>
<hr />
<h2>I18nSelect Pipe</h2>
<i18n-select-pipe></i18n-select-pipe>
<hr />
<h2>Case Pipe</h2>
<case-pipe></case-pipe>
<hr />
<h2>Currency Pipe</h2>
<currency-pipe></currency-pipe>
<hr />
<h2>Number Pipe</h2>
<number-pipe></number-pipe>
<hr />
<h2>JSON Pipe</h2>
<json-pipe></json-pipe>
<hr />
<h2>Percent Pipe</h2>
<percent-pipe></percent-pipe>
<hr />
<h2>I18nPlural Pipe</h2>
<i18n-plural-pipe></i18n-plural-pipe>
<hr />
<h2>KeyValue Pipe</h2>
<keyvalue-pipe></keyvalue-pipe>
<hr />
<h2>Custom Pipes</h2>
<use-custom-pipes></use-custom-pipes>
