.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.pt60 {
  padding-top: 60px;
}

.pl10 {
  padding-left: 10px;
}

.console {
  margin: 10px;
  position: sticky;
  bottom: 10px;
  height: 50px;
  overflow-y: auto;
}

.active {
  background: rgba(103, 58, 183, 0.15) !important;
  color: #673ab7;
}
.active:hover {
  background: rgba(103, 58, 183, 0.3) !important;
}
